<h1>ログイン</h1>

<%= render partial: 'shared/model_validation_messages', locals: {model: @session} %>
<%= render 'shared/flash_messages' %>

<%= form_for @session, url: '/login', method: 'POST', html: {class: 'form'} do |f| %>
  <div>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.submit "ログインする" %>
  </div>
<% end %>