<h1>写真一覧</h1>

<p><%= link_to "MyTweet Appと連携する", MyTweet.code_request_url %></p>

<p><%= link_to "写真を追加する", new_photo_path %></p>

<ul class="photo-list">
  <% @photos.each do |photo| %>
    <li>
      <figure>
        <figcaption>
          <%= photo.title %>
        </figcaption>
        <%= image_tag url_for(photo.image), height: '160', alt: photo.title %>
        <%= button_to 'Tweet', photos_tweet_path(photo_id: photo.id) %>
      </figure>
    </li>
  <% end %>
</ul>