<h1>写真アップロード</h1>
<ul>
  <% @photo.errors.full_messages.each do |message| %>
    <li class="error-message">
      <%= message %>
    </li>
  <% end %>
</ul>
<%= render 'shared/flash_messages' %>

<%= form_for @photo, url: {action: 'create'}, html: {class: 'form'} do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title%>
  </div>
  <div>
    <%= f.label :image  %>
    <%= f.file_field :image %>
  </div>
  <div>
    <%= f.submit "アップロード" %>
    <%= link_to "キャンセル", photos_path %>
  </div>
<% end %>