<h1>写真アップロード</h1>

<% if flash %>
  <ul>
    <% flash.each do |name, message| %>
      <li class="error-message">
        <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_for @photo, url: {action: "create"} do |f| %>
  <div>
    <%= f.label :title ,  "タイトル" %>
    <%= f.text_field :title%>
  <div>
  <div>
    <%= f.label :image, "画像ファイル"  %>
    <%= f.file_field :image %>
  <div>
  <%= f.submit "アップロード" %>
<% end %>